[Unit]
Description=SatNOGS Ground Station Web Dashboard
After=network.target rotctld.service
Wants=rotctld.service

[Service]
Type=simple
WorkingDirectory=/home/pi/SatNOGS-Basestation/Pi
ExecStart=/usr/bin/python3 /home/pi/SatNOGS-Basestation/Pi/dashboard.py
Restart=always
RestartSec=2
TimeoutStopSec=5
KillMode=mixed
KillSignal=SIGKILL
User=pi

[Install]
WantedBy=multi-user.target
